    
    
    
    <style>
             .w3-container{
                
              background-color: rgba(8, 170, 245, 0.747);
            
              height: 625px;
              width: 100%;
              padding: 40px 54px;
              margin-bottom: 10px;
              margin-right: 20px;
              
             }
             
             


             .btn-group button {
                background-color: rgba(45, 143, 189, 0.747); /* Green background */
                border: 5px solid rgba(8, 170, 245, 0.747); /* Green border */
                color: white; /* White text */
                padding: 10px 24px; /* Some padding */
                cursor: pointer; /* Pointer/hand icon */
                width: 100%; /* Set a width if needed */
                display: block; /* Make the buttons appear below each other */
                height: 50px;
            }
            
            h1{
              text-align: center;
            }
            
            
      </style>

  <div class="w3-container" >

      <h1>Gutenberg
        Project</h1>
        <div class="btn-group">


            <button ng-click="userData('fiction')">FICTION</button> 
            <button ng-click="userData('drama')">DRAMA</button> 
            <button ng-click="userData('humor')">HUMOR</button> 
            <button ng-click="userData('politics')">POLITICS</button> 
            <button ng-click="userData('philosoph')">PHILOSOPH</button>  
            <button ng-click="userData('history')">HISTORY</button> 
            <button ng-click="userData('adventure')">ADVENTURE</button>  
                


        </div>
    
    
    </div>   
